attr==0.3.2
ConfigParser==7.2.0
cryptography==49.0.0
docutils==0.23
filelock==3.29.4
Flask==2.3.0
Flask_Cors==4.0.0
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.8
keyring==25.7.0
nltk==3.9.3
numpy==2.4.6
pandas==3.0.3
pyjnius==1.7.0
pyOpenSSL==26.3.0
pyterrier==1.0.4
redis==8.0.0
scikit_learn==1.9.0
Sphinx==9.1.0
tensorflow==2.21.0
tensorflow_hub==0.16.1
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
